#my-shopping-cart {
  margin-top: 1em;

  h4.ui.divider {
    margin: 1em 0;
    color: #5bb5ff;
  }

  #products-box {
    .ui.cards > .card {
      margin: 0.3em 0;

      .content {
        padding: 0.1em 0.1em;

        .product-img-wrapper {
          width: 35%;

          img {
            border-radius: 3px;
            width: 100%
          }
        }

        .meta-wrapper {
          width: 55%;
          margin-left: 5px;
          margin-top: 3px;
        }

        .header {
          margin-top: 0;
          color: #5bb5ff;
          font-size: 1em;

          a {
            color: #5bb5ff;
          }
        }

        .description {
          margin-top: 10px;
          color: #5bb5ff;
          font-size: 1em;

          .price {
            color: #5bb5ff;
          }
        }
      }
    }
  }
}