#my-wish-list {
  margin-top: 1em;

  h4.ui.divider {
    margin: 1em 0;
    color: #5bb5ff;
  }

  #products-box {
    .ui.cards > .card {
      margin: 0.3em 0;

      .right-content {
        padding: 0.1em 0.1em;

        .product-img {
          width: 35%;
        }

        .header {
          width: 55%;
          margin-top: 0;
          display: inline-block;
          color: #5bb5ff;
          font-size: 1em;

          a {
            color: #5bb5ff;
          }
        }
      }

      .extra.content {
        span { color: #5bb5ff }
      }
    }
  }
}