#products-page {
  #tags-box {
    button.ui.button {
      // override !
      box-shadow: 0px 0px 0px 1px #5bb5ff inset !important;
      color: #5bb5ff !important;
    }
  }

  #products-box {
    margin-top: 1.8em;
    .product-title {
      font-size: 0.8em;
      color: #5bb5ff;
    }

    .ui.two.cards > .card {
        width: calc( 50% - 0.8em );
        margin-left: 0.4em;
        margin-right: 0.4em;
    }

    #mobile-paginator {
      // override
      margin-left: 0.4em;
    }
  }

  h4.ui.divider {
    margin: 1em 0;
    color: #5bb5ff;
  }
}

#products-box {
  .product-title {
    font-size: 1em;
    color: #5bb5ff;
  }
}