#product-show {
  //cover pusher padding
  margin-top: -5px;

  #body-content {
    img {
      max-width: 100%;
    }
  }

  .ui.secondary.pointing.menu .active.item {
      border-color: #5bb5ff;
      color: #5bb5ff;
  }

  .ui.secondary.pointing.menu > .item:first-child {
    margin-left: 0;
  }
}

#bottom-menu {
  .item {
    color: #5bb5ff;
    border-left: 1px solid #eee;
  }

  .icon-wrapper {
    flex-direction: column;
    width: 80px;
    padding: 0.3em 0.2em;

    .star.icon {
      margin-left: 0.1em
    }

    .empty.star.icon {
      margin-left: -0.1em
    }

    p {
      font-size: 0.7em;
    }
  }

  .add-cart {
    background: #5bb5ff;
    width: calc( 100% - 160px );

    a {
      color: #fff;
    }
  }
}