#search-result-pages {
  #products-box {
    margin-top: 1.8em;
    .product-title {
      font-size: 0.8em;
      color: #5bb5ff;
    }

    #mobile-paginator {
      // override
      margin-left: 0.4em;
    }
  }
}