.ui.button {
  margin-bottom: 0.7em
}

.ui.horizontal.divider:before, .ui.horizontal.divider:after {
  background-image: asset-data-url("divider.png");
}

.pusher {
  padding-top: 5px;
  background-color: #fff !important;
}

#notice-box {
  margin-top: 1em;

  .ui.message {
    color: #5bb5ff;
    background-color: #f2f8fd;
    box-shadow: 0px 0px 0px 1px #afdbff inset, 0px 0px 0px 0px transparent;

    .header {
      color: #5bb5ff;
    }
  }
}

#top-search-box {
  padding: 44px 25px 5px 25px;
  background-color: #afdbff;
}

#search-form {
  .ui.action.input {
    width: 100%;
    opacity: 0.6;

    .search-text {
      border-radius: 30px;
      border-color: #afdbff;
    }

    .search-btn {
      border-top-right-radius: 30px;
      border-bottom-right-radius: 30px;
      background: #fff;
      border: 1px solid #afdbff;
      border-left: none;
    }
  }
}

#tags-box {
  .ui.button {
    // override !
    box-shadow: 0px 0px 0px 1px #5bb5ff inset !important;
    color: #5bb5ff !important;
  }
}

.footer.ui.segment {
  margin-top: 50px;
  border-top: 2px solid lighten($my-blue, 10%);
  color: #ddd;

  .ui.header {
    color: #ddd;
  }
}

#products-box {
  .blue.card {
    margin: 0.5em 0
  }
}

#mobile-paginator {
  margin-top: 0.5em;
  margin-right: 0.4em;
  overflow-x: auto;

  nav {
    border: none;
  }
  a.item {
    color: #5bb5ff;
  }
}