#sidebar-nav {
  background-color: #f2f8fd;

  .side-search {
    width: 100%;

    input {
      opacity: 0.5;
      box-shadow: none;
      border-radius: 30px;
    }
  }

  & > .item > .header {
    color: #5bb5ff
  }

  .menu .item {
    padding: 0.8em 1.3em;
    color: #5bb5ff;
  }

  .menu .active.item {
    background-color: #fff;
  }
}