.ui.fixed.main.menu {
  background-color: #afdbff;
  box-shadow: none;
  border:none;

  .item.logo {
    margin: 0 auto;
    padding:0
  }

  .right-side-icons {
    padding: 0.9em 0.2em;
  }

  .item > .floating.label {
    // override
    padding: 0.2em 0.58em;
    margin-top: 13px !important;
    background-color: #fff !important;
    border-color: #fff !important;
    color: #afdbff !important;
  }
}