$(document).ready ->
  product_id =
  $('.trumbowyg-box').trumbowyg
    svgPath: '<%= image_path("icons.svg")%>'
    btnsDef: image:
      dropdown: [
        'insertImage'
        'upload'
      ]
      ico: 'insertImage'
    btns: [
      [ 'viewHTML' ]
      [
        'undo'
        'redo'
      ]
      [ 'formatting' ]
      'btnGrp-design'
      [ 'link' ]
      [ 'image' ]
      'btnGrp-justify'
      'btnGrp-lists'
      [
        'foreColor'
        'backColor'
      ]
      [ 'preformatted' ]
      [ 'horizontalRule' ]
      [ 'fullscreen' ]
    ]
    plugins: upload:
      serverPath: '/admin/pictures'
      fileFieldName: 'file'
      success: (data, trumbowyg, modal, values) ->
        console.log data
        if data.name
          if data.type == 'image'
            trumbowyg.execCmd 'insertImage', data.href
            $('img[src="' + data.href + '"]:not([alt])', trumbowyg.$box).attr 'alt', values.alt or data.name
          else
            link = $([
              '<a href="'
              data.href
              '">'
              data.name
              '</a>'
            ].join(''))
            trumbowyg.range.insertNode link[0]
          setTimeout (->
            trumbowyg.closeModal()
            return
          ), 250
        else
          trumbowyg.addErrorOnModalField $('input[type=file]', modal), trumbowyg.lang.uploadError or data.message
        return
