<%= form_for [:backend, @custom_window || CustomWindow.new], html: {class: 'ui large form'} do |f| %>
  <div class="ui stacked segment">
    <div class="field">
      <%= f.label :"排序" %>
      <%= f.number_field :position %>
    </div>
    <div class="field">
      <%= f.label :"跳转地址" %>
      <%= f.text_field :link %>
    </div>
    <div class="inline field">
      <div class="ui toggle checkbox">
        <%= f.check_box :displaying %>
        <label>是否显示</label>
      </div>
    </div>
    <div class="field">

      <%= f.label :"图片(请插入正方形图片)" %>
      <%= f.file_field :img %>

      <% if f.object.img.present? %>
        <%= image_tag f.object.img_url(:big) %>
      <% end %>
    </div>

    <%= f.submit "提交", class: "ui yellow button", disable_with: "提交中..." %>
  </div>
<% end %>