<div class="ui container">
  <div class="ui segments">
    <div class="ui clearing segment">
      <div class="ui large breadcrumb">
        <%= link_to 'Home', backend_root_path, class: 'section' %>
        <i class="right angle icon divider"></i>
        <%= link_to '所有窗口', backend_custom_windows_path, class: 'section' %>
        <i class="right angle icon divider"></i>
        <div class="active section">编辑展示橱窗</div>
      </div>
    </div>
    <div class="ui clearing segment">
      <%= render 'form' %>
    </div>
  </div>
</div>