<div class="ui container">
  <div class="ui clearing segment">
    <h2 class="ui left floated header">
      <i class="table icon"></i> 所有自定义展示橱窗
    </h2>
    <h4 class="ui right floated header">
      <%= link_to new_backend_custom_window_path, class: 'ui yellow header' do %>
        <i class="plus icon"></i> 创建新的展示橱窗
      <% end %>
    </h4>
  </div>
  <table class="ui yellow table">
    <thead>
      <tr>
        <th>ID</th>
        <th>图片</th>
        <th>跳转地址</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @custom_windows.each do |custom_window| %>
        <tr>
          <td><%= custom_window.id %></td>
          <td><%= image_tag custom_window.img_url(:thumb) %></td>
          <td><%= custom_window.link %></td>
          <td>
            <div class="ui bulleted link list">
              <%= link_to edit_backend_custom_window_path(custom_window), class: 'item' do  %>
                <i class="edit icon"></i> 编辑展示橱窗
              <% end %>
              <%= link_to backend_custom_window_path(custom_window), method: :delete, data: {confirm: '确定删除? 不可恢复!'}, class: 'item' do  %>
                <i class="minus icon"></i> 删除该类目
              <% end %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
