// #categories_products {
//   background-color: $cornsilk;

//   .right_nav {
//     background: transparent;
//     padding-top: 0;
//   }

//   .ui.segment {
//     box-shadow: none;
//     border: none;
//   }

//   .ui.segments {
//     box-shadow: none;
//     border: none
//   }
// }