#products_list {
}

#left_navs {
  background-color: #fff;
  border: none;
  box-shadow: none;
  min-height: 380px;

  .sidebar.menu {
    box-shadow: none;
    width: 98%;
  }
}

#right_products {
  .ui.cards {
    & > .card, .ui.card {
      box-shadow: -1px -1px 0px -9px #D4D4D5, 0px 2px 0px 0px #FBBD08, 0px 1px 3px 0px #D4D4D5;

      .price {
        color: red;
      }
    }
  }
}
