#product_show {
  .ui.segment {
    box-shadow: none;
    border: none;
  }

  .ui.segments {
    box-shadow: none;
    border: none
  }

  ul.option {
    padding-left: 0;
    overflow: auto;

    li {
      border: 2px solid #ccc;
      margin-right: 15px;
      margin-bottom: 5px;
      float: left;
      line-height: 29px;
      overflow: hidden;
      position: relative;
    }

    /*  hide inputs */
    input {
      position: absolute;
      left: -999em;
    }

    /*  turn labels into buttons */
    label {
      cursor: pointer;
      display: block;
      padding: 3px 8px;
      height: 35px;
    }

    /* current selected highlight */
    .selected {
      border: 2px solid #000;
    }
  }

  .price_tag {
    margin-top: 0.5em;margin-bottom: 1em;
  }

  .option_field_box {
    .option_name {
      display: inline-block;
    }
  }

  .item.qty, .item.btns {
    margin-top: 20px;
  }


  /*set a border on the images to prevent shifting*/
  #imgs-gallery {
    img{border:2px solid #ddd;}
    .active img{border:2px solid #111 !important;}
  }
}