<div class="ui left floated image">
  <%= link_to set_cover_backend_product_path(@product, product_image_id: product_image.id), remote: true, class: "ui left corner label #{highlight_default(@product, product_image)}", id: "p_img_#{product_image.id}" do %>
    <i class="star icon"></i>
  <% end %>
  <%= link_to backend_product_product_image_path(@product, product_image), method: :delete, data: {confirm: "确定删除这张图片?"}, class: "ui right corner label" do %>
    <i class="close icon"></i>
  <% end %>
  <%= image_tag(product_image.img_url(:big), size: "300x300") %>
</div>
