<div class="ui container" style="margin-top: 10px;">
  <div class="ui segments">
    <div class="ui clearing segment">
      <div class="ui large breadcrumb">
        <%= link_to 'Home', backend_root_path, class: 'section' %>
        <i class="right angle icon divider"></i>
        <div class="section">
          <%= link_to '编辑 SPU', edit_backend_product_path(@product), class: 'section' %>
        </div>
        <i class="right angle icon divider"></i>
        <div class="active section">图片管理</div>
      </div>
    </div>
  </div>

  <div class="ui clearing segment">
    <%= form_for [:backend, @product, @new_image], html: {class: 'ui form'} do |f| %>
      <div>
        <%= f.file_field :img, multiple: true, name: "product_image[img]" %>
      </div>
    <% end %>
    <div class="ui hidden divider"></div>
    <div id="product_images">
      <%= render @images %>
    </div>
  </div>
</div>

<script id="template-upload" type="text/x-tmpl">
  <div class="upload">
    {%=o.name%}
    <div class="progress"><div class="bar" style="width: 0%"></div></div>
  </div>
</script>

