<!DOCTYPE html>
<html>
  <head>
    <title>浅舍 • 系 | 把你喜欢的浅色带给你</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'backend/common/top_menu' %>
    <%= render 'backend/common/secondary_menu' %>
    <%= render 'backend/common/notice' %>
    <%= yield %>
  </body>
</html>
