<div class="ui container">
  <div class="ui grid" id="products_list">
    <div class="three wide column computer only">
      <div class="ui vertical fluid tabular menu" id="left_navs">
        <div class="item">
          <div class="header">新品</div>
        </div>
        <div class="item">
          <div class="header">爆款</div>
        </div>
        <%= render partial: 'frontend/common/left_nav_categories', collection: @categories, as: :category %>
      </div>
    </div>
    <div class="thirteen wide computer sixteen wide mobile column" id="right_products">
      <div class="ui segment clearing">
        <div class="ui basic segment">
          <div class="ui four stackable cards">
            <% @products.each do |product| %>
              <%= link_to frontend_display_spu_path(product.slug), class: 'card' do  %>
                <div class="image">
                  <%= image_tag(product.cover || 'logo.png') %>
                </div>
                <div class="extra content">
                  <div class="header">
                    <%= product.title %>
                    <div class="right floated price">
                      ¥ <%= product.price %>
                    </div>
                  </div>
                </div>
              <% end %>
             <% end %>
          </div>
        </div>
        <%= paginate @products %>
      </div>
    </div>
  </div>

</div>