<% if current_customer.wished?(@product) %>
  <%= link_to frontend_add_to_wish_list_path(product_id: @product.id), method: :post, remote: true, class: 'ui yellow inverted large button wish_btn' do %>
    <i class="star icon"></i> 已收藏
  <% end %>
<% else %>
  <%= link_to frontend_add_to_wish_list_path(product_id: @product.id), method: :post, remote: true, class: 'ui yellow large button wish_btn' do %>
    <i class="star icon"></i> 收藏了再说
  <% end %>
<% end %>