<div id="products-page">
  <h4 class="ui clearing horizontal divider header">
    <%= render_products_list_title %>
  </h4>
  <%= render 'frontend/common/phone/tags_box' %>

  <div class="ui container" id="products-box">
    <div class="ui two cards">
      <% @products.each do |product| %>
        <%= link_to frontend_display_spu_path(product.slug), class: 'blue card' do  %>
          <div class="image">
            <%= image_tag('', data: {original: product.cover || 'logo.png'}, class: 'lazy',) %>
          </div>
          <div class="extra content">
            <div class="header product-title">
              <%= product.title %>
              <div class="right floated price">
                ¥ <%= product.price %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
      <div id="mobile-paginator">
        <%= paginate @products %>
      </div>
    </div>
  </div>
</div>