<%
  scrubber = Loofah::Scrubber.new do |node|
    node.remove if node.name == 'script'
  end
%>
<div id="product-show">
  <div class="ui pointing secondary menu" style="margin-bottom: 0;">
    <%= link_to request.env['HTTP_REFERER'] || '/', class: 'item' do %>
      <i class="chevron left icon"></i>
    <% end %>
    <a class="active item" data-tab='basic-info-tab'>基本信息</a>
    <a class="item" data-tab='body-content-tab' id="body-content-tab">商品详情</a>
    <a class="item" data-tab='comments-tab' id="comments-tab">评价</a>
  </div>
  <div class="ui active tab" data-tab="basic-info-tab">
    <div class="product-imgs-owl owl-carousel owl-theme">
      <% @product.product_images.each do |img| %>
        <div>
          <%= image_tag img.img_url(:big), style: 'width: 100%' %>
        </div>
      <% end %>
    </div>
    <div class="ui container product-meta" style="margin-top: 10px;">
      <h1 style="color: #5bb5ff; font-weight: normal;font-size: 1.3em">
        <%= @product.title %>
      </h1>
      <p style="color: #5bb5ff; font-size: 1.8em; font-weight: bold;">
        ¥ <%= @product.price %>
      </p>
    </div>
  </div>

  <div data-tab="body-content-tab" class="ui tab" id="body-content">
      <%= sanitize @product.body_html, scrubber: scrubber %>
  </div>
</div>

<script>
  $(document).ready(function() {
    $('#select_variant_form').submit(function () {
      var valid = true;
      $.each($('.option'), function(index, val) {
        if ($(val).find('input:radio:checked').length == 0) {
          $(val).prev().show();
          valid = false;
        } else {
          $(val).prev().hide();
        }
      });
      if (!valid) {return false;}
    });

    $('#select_variant_form input:radio').on('click', function() {
      if ($('.option input:radio:checked').length == $('.option').length) {
        var arr = new Array();
        $(':radio:checked').each(function(){
          arr.push($(this).val());
        });
        $.ajax({
             type: 'GET',
             url: '/shop/variants/get_selected',
             dataType: 'script',
             data: { opts: arr, product_id: <%= @product.id %> }
         });
      }
    });
    $('.ui.menu .item').tab();

    // $.fn.api.settings.api = {
    //     'get product basic'      : '/shop/products/{product_slug}/basic',
    //     'get product body'       : '/shop/products/{product_slug}/content',
    // };

    // $('#body-content-tab').api({
    //     action: 'get product body',
    //     method : 'GET',
    //     dataType: 'html',
    //     stateContext : '#body-content',
    //     urlData: {
    //       product_slug: '<%#= @product.slug %>',
    //     },
    //     onSuccess: function(response) {
    //       // load response content in "youtube_tab_content"
    //       $('#body-content').html(response);
    //     },
    // });


  });
</script>