<%
  scrubber = Loofah::Scrubber.new do |node|
    node.remove if node.name == 'script'
  end
%>
<div class="ui container" id="product_show">
  <div class="ui grid">
    <div class="nine wide computer nine wide tablet six wide mobile column">
      <div class="ui segment right floated">
        <%= image_tag @product.product_images.first.img_url, id: 'big-img', size: '500x500', "data-zoom-image": @product.product_images.first.img_url %>
        <div id="imgs-gallery">
          <% @product.product_images.each do |img| %>
            <a href="#" data-image="<%= img.img_url(:big) %>" data-zoom-image="<%= img.img_url %>">
              <%= image_tag img.img_url(:thumb), size: '70x70' %>
            </a>
          <% end %>
        </div>
      </div>
    </div>
    <div class="seven wide column">
      <div class="ui segment ">
        <div class="ui list">
          <%= form_tag add_to_frontend_cart_path, remote: true, id: 'select_variant_form', class: 'ui form' do %>
            <div class="item">
              <h2 class="ui header">
                <%= @product.title %>
              </h2>
              <h3 class="price_tag">
                  售价: ￥<span class="price_num"><%= @product.price %></span>
              </h3>
            </div>
            <% @options.each_with_index do |option, index_o| %>
              <div class="item">
                <div class="field option_field_box">
                  <label class="option_name"><%= option.name %> :</label>
                  <div class="ui left pointing red basic label" style="display:none">
                    请选择一个选项
                  </div>
                  <ul class="radio option option<%= index_o %>">
                    <% option.values.each_with_index do |val, index_v| %>
                      <li class="value">
                        <%= radio_button_tag "option#{index_o}", val, false, id: "option#{index_o}_v#{index_v}" %>
                        <label for='<%= "option#{index_o}_v#{index_v}" %>'><%= val %></label>
                      </li>
                    <% end %>
                  </ul>
                </div>
              </div>
            <% end %>

            <div class="item qty">
              <div class="inline field">
                <label>数量 :</label>
                <%= number_field_tag :quantity, 1, min: 1 %>
              </div>
            </div>

            <%= hidden_field_tag :variant_id %>

            <div class="item btns">
              <% if current_customer.present? %>
                <span class="wish_btn_wrapper"><%= render 'frontend/products/wish_btn' %></span>
                <%= button_tag class: 'ui yellow large button' do %>
                  <i class="shop icon"></i> 加入购物车
                <% end %>
              <% else %>
                <%= link_to frontend_sign_in_path(prev_location: request.url), class: 'ui yellow large button' do %>
                  <i class="star icon"></i> 收藏了再说
                <% end %>
                <%= link_to frontend_sign_in_path(prev_location: request.url), class: 'ui yellow large button' do %>
                  <i class="shop icon"></i> 加入购物车
                <% end %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="ui segment">
    <h3 class="ui yellow dividing header">
      图文详情
    </h3>
    <div class="ui segment">
      <%= sanitize @product.body_html, scrubber: scrubber %>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    $('#select_variant_form').submit(function () {
      var valid = true;
      $.each($('.option'), function(index, val) {
        if ($(val).find('input:radio:checked').length == 0) {
          $(val).prev().show();
          valid = false;
        } else {
          $(val).prev().hide();
        }
      });
      if (!valid) {return false;}
    });

    $('#select_variant_form input:radio').on('click', function() {
      if ($('.option input:radio:checked').length == $('.option').length) {
        var arr = new Array();
        $(':radio:checked').each(function(){
          arr.push($(this).val());
        });
        $.ajax({
             type: 'GET',
             url: '/shop/variants/get_selected',
             dataType: 'script',
             data: { opts: arr, product_id: <%= @product.id %> }
         });
      }
    });
  });
</script>