<div class="ui container">
  <table class="ui yellow selectable padded celled table">
    <thead>
    <tr>
      <th>收货人</th>
      <th>地区</th>
      <th>详细地址</th>
      <th>联系电话</th>
      <th>操作</th>
      <th>默认地址?</th>
    </tr>
    </thead>
    <tbody>
    <% @addresses.each do |addr| %>
        <tr class="center aligned">
          <td><%= addr.name %></td>
          <td><%= addr.province %> <%= addr.city %> <%= addr.district %></td>
          <td><%= addr.full_street %></td>
          <td><%= addr.phone %></td>
          <td>
            <span><%= link_to '修改', edit_frontend_address_path(addr) %></span> |
            <span><%= link_to '删除', frontend_address_path(addr), method: :delete, data: {confirm: '确定删除? 数据不可以恢复!'} %></span>
          </td>
          <td class="collapsing">
            <%= form_for([:frontend, addr], remote: true, html: {class: 'set_default'}) do |f| %>
              <div class="ui fitted slider checkbox">
                <%= f.check_box :is_default %> <label></label>
              </div>
            <% end %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>

  <%= form_for([:frontend,@address], html: {class: 'ui form', id: 'full_addr_form'}) do |f| %>
      <h3 class="ui dividing header">新增地址信息</h3>
      <div class="fields">
        <div class="eight wide required field">
          <label>姓名</label>
          <%= f.text_field :name %>
        </div>

        <div class="eight wide required field">
          <label>联系电话</label>
          <%= f.text_field :phone %>
        </div>
      </div>

      <h5 class="ui dividing header">详细地址</h5>
      <%= f.hidden_field :province %>
      <%= f.hidden_field :city %>
      <%= f.hidden_field :district %>

      <div class="three fields" id="select_citys">
        <div class="required field">
          <%= select_tag :province, nil, class: "ui fluid dropdown" %>
        </div>
        <div class="required field">
          <%= select_tag :city, nil, class: "ui fluid dropdown" %>
        </div>
        <div class="required field">
          <%= select_tag :area, nil, class: "ui fluid dropdown" %>
        </div>
      </div>

      <div class="required field">
        <%= f.text_field :full_street %>
      </div>

      <div class="field">
        <div class="ui toggle checkbox">
          <%= f.check_box :is_default %>
          <label>设置为默认地址</label>
        </div>
      </div>

      <%= f.submit '保存', class: 'ui yellow button', tabindex: '0' %>
  <% end %>
</div>

<script type="text/javascript">

  $(document).ready(function() {
    $('#select_citys').citys({
      province: "<%= @address.province %>",
      city: "<%= @address.province == @address.city ?  @address.district :  @address.city %>",
      area: "<%= @address.district %>",
      required: false,
      nodata: 'disabled',
      onChange:function(data){
        if (data['direct']) {
          $('#address_province').val(data['province']);
          $('#address_city').val(data['province']);
          $('#address_district').val(data['city']);
        } else {
          $('#address_province').val(data['province']);
          $('#address_city').val(data['city']);
          $('#address_district').val(data['area']);
        }
      }
    });

    $('.set_default input:checkbox').on('change', function() {
      $(this).closest('form').submit();
    });

    $('#new_address').submit(function () {
        var address_name = $.trim($('#address_name').val());
        var address_phone = $.trim($('#address_phone').val());

        var address_province = $.trim($('#address_province').val());
        var address_city = $.trim($('#address_city').val());
        var address_district = $.trim($('#address_district').val());
        var address_full_street = $.trim($('#address_full_street').val());

        if (address_name == '') {
            alert('姓名不能为空.');
            return false;
        }
        if (address_phone == '') {
            alert('联系电话不能为空.');
            return false;
        }
        if (address_province == '') {
            alert('省份不能为空.');
            return false;
        }
        if (address_city == '') {
            alert('城市不能为空.');
            return false;
        }
        if (address_district == '') {
            alert('地区不能为空.');
            return false;
        }
        if (address_full_street == '') {
            alert('地区不能为空.');
            return false;
        }
    });
  });
</script>
