<div class="ui bottom fixed menu" id="bottom-menu">

  <% if current_customer.present? %>
    <div class="item add-star icon-wrapper">
      <%= render 'frontend/products/phone/wish_btn' %>
    </div>
    <div class="item show-cart icon-wrapper">
      <%= link_to frontend_cart_path do %>
        <i class="large cart icon"></i>
        <p>购物车</p>
      <% end %>
    </div>
  <% else %>
    <div class="item add-star icon-wrapper">
      <%= link_to frontend_sign_in_path(prev_location: request.url) do %>
        <i class="large empty star icon"></i>
        <p>收藏</p>
      <% end %>
    </div>
    <div class="item show-cart icon-wrapper">
      <%= link_to frontend_sign_in_path(prev_location: request.url) do %>
        <i class="large cart icon"></i>
        <p>购物车</p>
      <% end %>
    </div>
  <% end %>

  <div class="item add-cart">
    <a style="margin: 0 auto;">加入购物车</a>
  </div>
</div>