<div class="ui vertical footer segment">
  <div class="ui aligned container">
    <div class="ui stackable grid">
      <div class="five wide column">
        <h4 class="ui header">合作伙伴</h4>
        <div class="ui link horizontal list">
          <a class="item" href="#">支付宝</a>
          <a class="item" href="#">微信支付</a>
          <a class="item" href="#">淘宝</a>
          <a class="item" href="#">Github</a>
        </div>
      </div>
      <div class="seven wide left floated column">
        <h4 class="ui header">坐标</h4>
        <p> 广东省广州市番禺区</p>
        <h4 class="ui header">技术支持</h4>
        <p>Ruby on Rails | Javascript | Elasticsearch | Redis | PostgreSQL | Semantic-UI</p>
      </div>
    </div>
  </div>
</div>