<% if notice %>
  <div class="ui container" id="notice-box">
    <div class="ui message">
      <div class="ui center aligned header">
        操作提示:
      </div>
      <ul class="list">
        <% notice.split(' 。').uniq.each do |sentence| %>
          <li><%= sentence %>.</li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
<% if alert %>
  <div class="ui container">
    <div class="ui yellow message">
      <div class="ui center aligned header">
        <%= alert %>
      </div>
    </div>
  </div>
<% end %>
