<div class="ui sidebar vertical menu" id="sidebar-nav">
  <div class="item">
    <%= form_tag frontend_search_index_path, method: :get, id: 'search-form' do %>
      <div class="ui action input">
        <%= text_field_tag :q, params[:q], placeholder: '搜索', class: 'search-text' %>
        <%= button_tag type: 'submit', class: 'ui icon button search-btn' do  %>
          <i class="search icon"></i>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="item">
    <div class="header">
      一次不太多颜色的
    </div>
    <div class="menu">
      <% @categories.each do |category| %>
        <%= link_to category.name, frontend_category_path(slug: category.slug), class: "#{active_page(frontend_category_path(slug: category.slug))} item" %>
      <% end %>
    </div>
  </div>
  <div class="item">
    <div class="header">
      我的账户
    </div>
    <div class="menu">
      <% if current_customer %>
        <%= link_to frontend_settings_path, class: 'item' do %>
          <i class="settings icon"></i> 个人设置
        <% end %>
        <a class="item">
          <i class="copy icon"></i> 订单列表
        </a>
        <%= link_to frontend_addresses_path, class: 'item' do %>
          <i class="street view icon"></i> 收货地址
        <% end %>
        <%= link_to frontend_my_wish_list_path, class: 'item' do %>
          <i class="large star icon"></i> 收藏夹
        <% end %>
        <%= link_to frontend_cart_path, class: 'item' do %>
          <i class="large cart icon"></i> 购物车
        <% end %>
        <%= link_to frontend_sign_out_path, method: :delete, class: 'item' do %>
          <i class="sign out icon"></i> 退出登录
        <% end %>
      <% else %>
        <%= link_to new_frontend_customer_path, class: "#{active_page(new_frontend_customer_path)} item" do  %>
          <i class="add user icon"></i> 注册
        <% end %>
        <%= link_to frontend_sign_in_path(prev_url: request.url), class: "#{active_page(frontend_sign_in_path)} item" do  %>
          <i class="sign in icon"></i> 登录
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="item">
    <div class="header">
      网站服务
    </div>

    <div class="menu">
      <a class="item" href="#" target="_blank">关于CSX</a>
      <a class="item" href="#" target="_blank">联系我们</a>
      <a class="item" href="#" target="_blank">诚聘英才</a>
      <a class="item" href="#" target="_blank">免责声明</a>
      <a class="item" href="#" target="_blank">法律声明</a>
      <a class="item" href="#" target="_blank">网站地图</a>
      <a class="item" href="#" target="_blank">FAQs</a>
    </div>
  </div>
</div>