<% if @tag.present? %>

<% elsif @category.present? %>
  <div class="ui container" id="tags-box">
    <% @category.top_5_tags.each do |tag| %>
      <%= link_to tag.name, tag_frontend_category_path(tag_id: tag.id, slug: @category.slug), class: "ui primary basic button" %>
    <% end %>
  </div>
<% else %>
  <div class="ui container" id="tags-box">
    <% Tag.order('taggings_count desc').first(13).each do |tag| %>
      <%= link_to tag.name, frontend_tag_path(tag), class: "ui primary basic button" %>
    <% end %>
  </div>
<% end %>
