<div class="ui fixed main menu">
  <div class="ui container">
    <a class="launch icon item">
      <i class="inverted large content icon"></i>
    </a>
    <div class="item logo">
      <%= link_to frontend_root_path do %>
        <%= image_tag 'logo_inverted.png', height: '40px' %>
      <% end %>
    </div>
    <% wish_target = current_customer ? frontend_my_wish_list_path : frontend_sign_in_path(prev_url: frontend_my_wish_list_path) %>
    <%= link_to wish_target, class: 'item right-side-icons' do %>
      <i class="inverted large star icon"></i> <span class="wish_count floating ui yellow label"><%= current_customer ? current_customer.wish_list_items_count : 1 %></span>
    <% end %>
    <% cart_target = current_customer ? frontend_cart_path : frontend_sign_in_path(prev_url: frontend_cart_path) %>
    <%= link_to cart_target, class: 'item right-side-icons' do %>
      <i class="inverted large cart icon"></i>
    <% end %>
  </div>
</div>