<div id="top-search-box">
  <%= form_tag frontend_search_index_path, method: :get, id: 'search-form' do %>
    <div class="ui action input">
      <%= text_field_tag :q, params[:q], placeholder: '搜索', class: 'search-text' %>
      <%= button_tag type: 'submit', class: 'ui icon button search-btn' do  %>
        <i class="search icon"></i>
      <% end %>
    </div>
  <% end %>
</div>