<div id="search-result-pages">
  <div class="ui container" style="margin-top: 1em">
    <div id="products-box">
      <% if @total != 0 %>
        <div class="ui divided items">
          <% @products.each do |product| %>
            <%= link_to frontend_display_spu_path(product.slug), class: 'item' do  %>
              <div class="ui small image">
                <%= image_tag product.cover %>
              </div>
              <div class="middle content">
                <div class="header" style="color: #5bb5ff">
                  <%= product.title %>
                </div>
                <div class="description">
                  <p style="color: #5bb5ff">
                    ¥ <%= product.price %>
                  </p>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
        <%= paginate @search %>
      <% else %>
        <div class="ui icon message">
          <i class="red warning sign icon"></i>
          <div class="content">
            <div class="header">
              很抱歉, 没有查找到关于 '<%= params[:q] %>' 的商品.
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
