<div class="ui grid" id="products_list">
  <div class="three wide computer nine wide tablet six wide mobile column">
    <div class="ui bottom attached segment pushable">
      <div class="ui visible left vertical sidebar menu">
        <div class="item">
          <div class="header">新品</div>
        </div>
        <div class="item">
          <div class="header">爆款</div>
        </div>
        <%= render partial: 'frontend/common/left_nav_categories', collection: @categories, as: :category %>
      </div>
    </div>
  </div>
  <div class="thirteen wide column" id="right_products">
    <div class="ui segment clearing">
      <div class="pusher">
        <div class="ui basic segment">
          <% if @total != 0 %>
            <div class="ui four stackable cards">
              <% @products.each do |product| %>
                <%= link_to frontend_display_spu_path(product.slug), class: 'ui card' do  %>
                  <div class="image">
                    <%= image_tag product.cover %>
                  </div>
                  <div class="extra content">
                    <div class="header">
                      <%= product.title %>
                      <div class="right floated price">
                        ¥ <%= product.price %>
                      </div>
                    </div>
                  </div>
                <% end %>
               <% end %>
            </div>
            <br>
            <%= paginate @search %>
          <% else %>
            <div class="ui icon message">
              <i class="red warning sign icon"></i>
              <div class="content">
                <div class="header">
                  很抱歉, 没有查找到关于 '<%= params[:q] %>' 的商品.
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
