<div id="user-page">
  <div class="ui container">
    <div class="ui middle center aligned grid">
      <div class="column">
        <h2 class="ui header">
          <div class="content">
            登录买买买~
          </div>
        </h2>

        <%= form_tag frontend_sign_in_url, class: 'ui large form' do %>
          <div class="ui stacked segment">
            <%= hidden_field_tag :prev_url, params[:prev_url] %>
            <div class="field">
              <div class="ui left icon input">
                <i class="mail icon"></i>
                <%= email_field_tag :email, params[:email], autofocus: true, placeholder: "邮箱" %>
              </div>
            </div>
            <div class="field">
              <div class="ui left icon input">
                <i class="lock icon"></i>
                <%= password_field_tag :password, '', autocomplete: "off", placeholder: "密码" %>
              </div>
            </div>
            <div class="field">
              <div class="ui checkbox">
                <%= check_box_tag :remember_me %>
                <label>记住登录状态</label>
              </div>
            </div>
            <%= submit_tag "登录", class: "ui fluid large blue submit button" %>
          </div>
        <% end %>

        <div class="ui message">
          新用户? <%= link_to '创建新帐户', new_frontend_customer_path %>
        </div>
      </div>
    </div>
  </div>
</div>