<div id="my-wish-list">
  <div class="ui container">
    <h4 class="ui clearing horizontal divider header">
      #我的收藏#
    </h4>

    <% if @wish_lists.empty? %>
      <div class="ui disabled center aligned header">
        <i class="terminal icon"></i> 空空如也
      </div>
    <% else %>
      <div id="products-box">
        <div class="ui one cards">
          <% @wish_lists.includes(:wish_list_item).each do |wish| %>
            <div class="blue card wish<%= wish.product_id %>">
              <div class="image">
                <%= link_to frontend_remove_from_wish_list_path(wish.product_id), remote: true, method: :delete, data: {confirm: "确定取消收藏?"}, class: "ui right corner label" do %>
                    <i class="close icon"></i>
                <% end %>
              </div>
              <div class="content right-content">
                <%= link_to frontend_display_spu_path(wish.wish_list_item.slug) do %>
                    <%= image_tag(wish.wish_list_item.cover || 'logo.png', class: 'product-img') %>
                <% end %>
                <div class="header">
                  <%= link_to wish.wish_list_item.title, frontend_display_spu_path(wish.wish_list_item.slug) %>
                </div>
              </div>
              <div class="extra content">
            <span class="right floated">
              收藏于 <%= format_time wish.created_at %>
            </span>
            <span>
              ¥ <%= wish.wish_list_item.price %>
            </span>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>