<div class="ui container">
  <div class="ui segments">
    <div class="ui segment">
      <span class="ui yellow ribbon label">我的收藏</span>
    </div>
    <% if @wish_lists.empty? %>
        <div class="ui segment">
          <div class="ui disabled center aligned header">
            <i class="terminal icon"></i> 空空如也
          </div>
        </div>
    <% else %>
        <div class="ui segment">
          <div class="ui three stackable cards">
            <% @wish_lists.includes(:wish_list_item).each do |wish| %>
                <div class="card wish<%= wish.product_id %>">
                  <div class="image">
                    <%= link_to frontend_remove_from_wish_list_path(wish.product_id), remote: true, method: :delete, data: {confirm: "确定取消收藏?"}, class: "ui right corner label" do %>
                        <i class="close icon"></i>
                    <% end %>
                    <%= link_to frontend_display_spu_path(wish.wish_list_item.slug) do %>
                        <%= image_tag(wish.wish_list_item.cover || 'logo.png', style: 'width:100%') %>
                    <% end %>
                  </div>
                  <div class="content">
                    <div class="header">
                      <%= link_to wish.wish_list_item.title, frontend_display_spu_path(wish.wish_list_item.slug) %>
                    </div>
                  </div>
                  <div class="extra content">
                <span class="right floated">
                  收藏于 <%= format_time wish.created_at %>
                </span>
                <span>
                  <i class="user icon"></i>
                  ¥ <%= wish.wish_list_item.price %>
                </span>
                  </div>
                </div>
            <% end %>
          </div>
        </div>
    <% end %>
  </div>
</div>