<script>
  $(function() {
    $('#add_option_link').on('click', function() {
      $('<%= j(render "backend/options/single_option") %>').insertBefore($('#add_option_link'));
      $(".ui.fluid.dropdown").dropdown({ allowAdditions: true})
      $('.option_form .trash.icon').on('click', function(e) {
        var c = confirm("删除后将不能恢复, 确定要删除?");
        if (c == true) {
          $(this).closest('.option_form').remove();
          $('#add_option_link').show();
        }
      });
      if ($('.option_form').length >= 3) {
        $('#add_option_link').hide();
      }
    });
  });
</script>