<div class="three fields option_form">
  <div class="three wide field">
    <%= text_field_tag :option_name, "", name: "options[][name]", placeholder: '选项名称' %>
  </div>
  <div class="twelve wide field">
    <div class="ui fluid multiple search selection dropdown">
      <%= select_tag "options[][values][]", nil, multiple: true  %>
      <div class="default text">输入可选值</div>
    </div>
  </div>
  <div class="one wide field">
    <i class="big trash icon"></i>
  </div>
</div>
