<div class="ui container new_spu">
  <div class="ui large breadcrumb">
    <%= link_to 'Home', backend_root_path, class: 'section' %>
    <i class="right angle icon divider"></i>
    <%= link_to @product.title, backend_product_path(@product), class: 'section' %>
    <i class="right angle icon divider"></i>
    <%= link_to '所有选项', backend_product_options_path(@product), class: 'section' %>
    <i class="right angle icon divider"></i>
    <div class="active section">编辑选项(<%= @option.name %>)</div>
  </div>
  <div class="ui segments">
    <div class="ui segment spu_form_box clearing">
      <%= form_for([:backend, @product, @option], html: {class: "ui form options_form"}) do |f| %>
        <div class="two fields">
          <div class="four wide field ">
            <label>选项名称</label>
            <%= f.text_field :name  %>
          </div>

          <div class="twelve wide field ">
            <label>可选值</label>

            <div class="ui fluid multiple search selection dropdown">
              <%= select_tag "option[values][]", options_for_select(@option.values, @option.values), multiple: true %>
              <div class="default text">输入可选值</div>
            </div>
          </div>
        </div>
        <%= submit_tag "提交", class: "ui yellow button right floated clearfix", disable_with: "提交中..." %>
      <% end %>

    </div>
  </div>
</div>
