<div class="ui container new_spu">
  <div class="ui large breadcrumb">
    <%= link_to 'Home', backend_root_path, class: 'section' %>
    <i class="right angle icon divider"></i>
    <%= link_to @product.title, backend_product_path(@product), class: 'section' %>
    <i class="right angle icon divider"></i>
    <div class="active section">新建商品选项</div>
  </div>
  <div class="ui segments">
    <div class="ui segment spu_form_box clearing">
      <% if flash[:error] %>
        <div class="ui error message">
          <div class="header">提交信息有误</div>
          <p><%= flash[:error] %></p>
        </div>
      <% end %>
      <%= form_tag(backend_product_options_path(@product), class: "ui form clearing  options_form") do %>

        <h4 class="ui dividing header">商品选项信息</h4>
        <% @options.each do |option| %>
          <div class="three fields option_form">
            <div class="three wide field <%= 'error' if params[:action] == 'create' && !option.valid? && option.errors[:name].present? %>">
              <%= text_field_tag :option_name, option.name, name: "options[][name]", placeholder: '选项名称' %>
              <% if option.errors[:name].present? %>
                <em style="color: #9F3A38;"><%= option.errors.messages[:name][0] %></em>
              <% end %>
            </div>
            <div class="twelve wide field <%= 'error' if params[:action] == 'create' && !option.valid? && option.errors[:values].present? %>">
              <div class="ui fluid multiple search selection dropdown">
                <%= select_tag "options[][values][]", options_for_select(option.values, option.values), multiple: true  %>
                <div class="default text">输入可选值</div>
              </div>
              <% if option.errors[:values].present? %>
                <em style="color: #9F3A38;"><%= option.errors.messages[:values][0] %></em>
              <% end %>
            </div>
            <div class="one wide field">
              <i class="big trash icon"></i>
            </div>
          </div>
        <% end %>

        <%= link_to "javascript:void(0)", id: "add_option_link" do %>
          <i class="big add circle icon"></i>
        <% end %>

        <hr>
        <%= submit_tag "提交", class: "ui yellow button right floated clearfix", disable_with: "提交中..." %>
      <% end %>

    </div>
  </div>
</div>
<%= render 'option_btn_script' %>