<div class="ui vertical segment" style="margin-bottom: 20px">
  <div class="ui equal width stackable internally celled grid">
    <div class="center aligned row">
      <div class="column">
        <% if @cw0.present? %>
          <%= link_to @cw0.link do  %>
            <%= image_tag @cw0.img_url, style: 'max-width: 100%;padding:15px' %>
          <% end %>
        <% end %>
      </div>
      <div class="column">
        <% if @cw1.present? %>
          <%= link_to @cw1.link do  %>
            <%= image_tag @cw1.img_url, style: 'max-width: 100%;padding:15px' %>
          <% end %>
        <% end %>
      </div>
      <div class="column">
        <% if @cw2.present? %>
          <%= link_to @cw2.link do  %>
            <%= image_tag @cw2.img_url, style: 'max-width: 100%;padding:15px' %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="ui vertical segment" style="margin-bottom: 20px">
  <div class="ui equal width stackable internally celled grid">
    <div class="center aligned row">
      <div class="column">
        <% if @cw3.present? %>
          <%= link_to @cw3.link do  %>
            <%= image_tag @cw3.img_url, style: 'max-width: 100%;padding:15px' %>
          <% end %>
        <% end %>
      </div>
      <div class="column">
        <% if @cw4.present? %>
          <%= link_to @cw4.link do  %>
            <%= image_tag @cw4.img_url, style: 'max-width: 100%;padding:15px' %>
          <% end %>
        <% end %>
      </div>
      <div class="column">
        <% if @cw5.present? %>
          <%= link_to @cw5.link do  %>
            <%= image_tag @cw5.img_url, style: 'max-width: 100%;padding:15px' %>
          <% end %>
        <% end %>
      </div>
      <div class="column">
        <% if @cw6.present? %>
          <%= link_to @cw6.link do  %>
            <%= image_tag @cw6.img_url, style: 'max-width: 100%;padding:15px' %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%= render 'frontend/products/products_list' %>