<div id="home-page">
  <h4 class="ui horizontal divider header">
    <i class="heartbeat icon"></i>
    #不是 X 冷淡, 只是不那么多颜色#
  </h4>

  <div class="featured-owl owl-carousel owl-theme">
    <div>
      <%= link_to @cw0.link do  %>
        <%= image_tag @cw0.img_url(:large), style: 'max-width: 100%;padding: 5px' %>
      <% end %>
    </div>
    <div>
      <%= link_to @cw1.link do  %>
        <%= image_tag @cw1.img_url(:large), style: 'max-width: 100%;padding: 5px' %>
      <% end %>
    </div>
    <div>
      <%= link_to @cw2.link do  %>
        <%= image_tag @cw2.img_url(:large), style: 'max-width: 100%;padding: 5px' %>
      <% end %>
    </div>
    <div>
      <%= link_to @cw3.link do  %>
        <%= image_tag @cw3.img_url(:large), style: 'max-width: 100%;padding: 5px' %>
      <% end %>
    </div>
    <div>
      <%= link_to @cw4.link do  %>
        <%= image_tag @cw4.img_url(:large), style: 'max-width: 100%;padding: 5px' %>
      <% end %>
    </div>
    <div>
      <%= link_to @cw5.link do  %>
        <%= image_tag @cw5.img_url(:large), style: 'max-width: 100%;padding: 5px' %>
      <% end %>
    </div>
    <div>
      <%= link_to @cw6.link do  %>
        <%= image_tag @cw6.img_url(:large), style: 'max-width: 100%;padding: 5px' %>
      <% end %>
    </div>
  </div>

  <%= render 'frontend/common/phone/tags_box' %>
  <h4 class="ui clearing horizontal divider header" id="paginator-divider">
<!-- <i class="announcement icon"></i> -->
    新 之 New Arrivals
  </h4>
  <div class="ui container" id="products-box">
    <div class="ui one cards">
      <% @products.each do |product| %>
        <%= link_to frontend_display_spu_path(product.slug), class: 'blue card' do  %>
          <div class="image">
            <%= image_tag('', data: {original: product.cover || 'logo.png'}, class: 'lazy') %>
          </div>
          <div class="extra content">
            <div class="header product-title">
              <%= product.title %>
              <div class="right floated price">
                ¥ <%= product.price %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
      <div id="mobile-paginator">
        <%= paginate @products %>
      </div>
    </div>
  </div>
</div>
