<% if current_customer.wished?(@product) %>
  <%= link_to frontend_add_to_wish_list_path(product_id: @product.id), method: :post, remote: true do %>
    <i class="large star icon"></i>
    <p>已收藏</p>
  <% end %>
<% else %>
  <%= link_to frontend_add_to_wish_list_path(product_id: @product.id), method: :post, remote: true do %>
    <i class="large empty star icon"></i>
    <p>收藏</p>
  <% end %>
<% end %>