<%= form_for [:backend, @product, @variant], html: {class: 'ui form'} do |f| %>
    <h4 class="ui dividing header">基本信息</h4>

    <div class="equal width fields">
      <% @options.each_with_index do |option, index| %>
        <% if params[:action] == "new"  %>
          <div class="field">
            <label><%= option.name %></label>
            <%= f.select :"option#{index+1}", options_for_select(option.values, @variant.send("option#{index+1}")), {},  class: "ui fluid dropdown"  %>
          </div>
        <% else %>
          <div class="disabled field">
            <label><%= option.name %></label>
            <%= f.text_field :"option#{index+1}", disabled: "" %>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="fields">
      <div class="eight wide field">
        <label>SKU</label>
        <div class="field">
          <%= f.text_field :sku %>
        </div>
      </div>
      <div class="three wide field">
        <label>价格</label>
        <div class="field">
          <%= f.text_field :price %>
        </div>
      </div>
      <div class="three wide field">
        <label>库存</label>
        <div class="field">
          <%= f.number_field :stock %>
        </div>
      </div>
    </div>
    <%= f.submit "提交", class: "ui yellow button", disable_with: "提交中..." %>
<% end %>