<div class="ui container new_sku">
  <div class="ui large breadcrumb">
    <%= link_to 'Home', backend_root_path, class: 'section' %>
    <i class="right angle icon divider"></i>
    <%= link_to @product.title, backend_product_path(@product), class: 'section' %>
    <i class="right angle icon divider"></i>
    <%= link_to '所有 SKU', backend_product_variants_path(@product), class: 'section' %>
    <i class="right angle icon divider"></i>
    <div class="active section">编辑 SKU</div>
  </div>

  <div class="ui segments">
    <div class="ui segment sku_form_box clearing">
      <%= render 'form', variant: @variant %>
    </div>
  </div>
</div>
