<div class="ui container">
  <div class="ui large breadcrumb">
    <%= link_to 'Home', backend_root_path, class: 'section' %>
    <i class="right angle icon divider"></i>
    <%= link_to @product.title, backend_product_path(@product), class: 'section' %>
    <i class="right angle icon divider"></i>
    <div class="active section">SKU 列表</div>
  </div>

  <table class="ui yellow table">
    <thead>
    <tr>
      <th>ID</th>
      <% @options.each do |option| %>
          <th><%= option.name %></th>
      <% end %>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% @variants.each do |variant| %>
        <tr>
          <td><%= variant.id %></td>
          <% @options.each_with_index do |_, index| %>
              <td><%= variant.send("option#{index+1}") %></td>
          <% end %>
          <td>
            <div class="ui bulleted link list">
              <%= link_to edit_backend_product_variant_path(@product, variant), class: 'item' do  %>
                  <i class="edit icon"></i> 编辑
              <% end %>
            </div>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
