$('.cart_num').text("<%= current_customer.cart_items_count %>");

$('#menu_cart_items_list').html("<%= j(render 'frontend/common/menu_cart_items_list') %>");
$('#cart_dropdown').dropdown('show');
$('.cart_num').transition('jiggle');
$('.shop.icon').transition('jiggle');