<div class="ui container">
  <div class="ui segments">
    <div class="ui segment">
      <span class="ui yellow ribbon label">我的购物车</span>
    </div>
    <% if @cart_items.empty? %>
        <div class="ui segment">
          <div class="ui disabled center aligned header">
            <i class="terminal icon"></i> 空空如也, <%= link_to '去收藏夹看看吧', frontend_my_wish_list_path %>
          </div>
        </div>
    <% else %>
        <div class="ui segment">
          <div class="ui middle aligned divided list">
            <% @cart_items.includes(:product).each do |item| %>
                <div class="item ui grid cart_item<%= item.id %>">
                  <div class="seven column row">
                    <div class="column">
                      <div class="ui top aligned  image">
                        <%= image_tag(item.product.cover || 'logo.png', class: 'ui small image') %>
                      </div>
                    </div>
                    <div class="column">
                      <div class="content">
                        <%= link_to frontend_display_spu_path(item.product.slug), class: 'header' do %>
                          <%= item.product.title %>
                        <% end %>
                      </div>
                    </div>
                    <div class="column">
                      <span class="header">商品选项:</span><br>
                      <div class="ui celled horizontal list">
                        <span class="item"><%= item.option1 %></span>
                        <% if item.option2.present? %>
                            <span class="item"><%= item.option2 %></span>
                        <% end %>
                        <% if item.option3.present? %>
                            <span class="item"><%= item.option3 %></span>
                        <% end %>
                      </div>
                    </div>
                    <div class="column">
                      <div class="header">单价:</div>
                      <br>
                      <div class="content"><i class="yen icon"></i><%= item.price %></div>
                    </div>
                    <div class="column">
                      <div class="header">数量:</div>
                      <br>
                      <div class="content">
                        <%= form_tag change_qty_in_frontend_cart_path(item), remote: true do %>
                            <%= number_field_tag :quantity, Redis.current.hget(current_customer.cart_key, item.id), min: 1, class: 'qty_field' %>
                        <% end %>
                      </div>
                    </div>
                    <div class="column">
                      <div class="header">金额:</div>
                      <br>
                      <div class="content">
                        <i class="yen icon"></i><span id="v<%= item.id %>_price"><%= item.price %></span></div>
                    </div>
                    <div class="column">
                      <div class="header">操作:</div>
                      <br>
                      <div class="content">
                        <%= link_to remove_from_frontend_cart_path(item), remote: true, method: :post, data: {confirm: "确定移除?"} do %>
                            <i class="trash icon"></i> 从购物车移除
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
            <% end %>
          </div>
        </div>
        <div class="ui attached segment">
          <div class="ui right aligned header">
            已选商品 0 件, 合计: 0.0 元 &nbsp;
            <%= submit_tag '结算', class: 'ui yellow button' %>
          </div>
        </div>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function () {
    $('.qty_field').on('blur', function () {
      $(this).closest('form').submit();
    });
  });
</script>