<div id="my-shopping-cart">
  <div class="ui container">
    <h4 class="ui clearing horizontal divider header">
      #我的购物车#
    </h4>

    <% if @cart_items.empty? %>
      <div class="ui disabled center aligned header">
        <i class="terminal icon"></i> 空空如也
      </div>
    <% else %>
      <div id="products-box">
        <div class="ui one cards">
          <% @cart_items.includes(:product).each do |item| %>
            <div class="blue card">
              <div class="image">
                <%= link_to remove_from_frontend_cart_path(item), remote: true, method: :delete, data: {confirm: "确定从购物车移除?"}, class: "ui right corner label" do %>
                    <i class="close icon"></i>
                <% end %>
              </div>
              <div class="content">
                <div class="product-img-wrapper left floated">
                  <%= link_to frontend_display_spu_path(item.product.slug) do %>
                    <%= image_tag(item.product.cover || 'logo.png') %>
                  <% end %>
                </div>

                <div class="meta-wrapper left floated">
                  <div class="header">
                    <%= link_to item.product.title, frontend_display_spu_path(item.product.slug) %>
                  </div>
                  <div class="options meta ">
                    <% item.product.options.pluck(:name).each_with_index do |name, index| %>
                      <%= name %>: <%= item.send("option#{index+1}") %> &nbsp;
                    <% end %>
                  </div>
                  <div class="description">
                    <div class='price'>
                      ¥ <%= item.product.price %>
                    </div>
                    <div class="quantity right floated">
                      x<%= Redis.current.hget(current_customer.cart_key, item.id) %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>