.upload {
  border-top: solid 1px darken(#FFF8DC, 20%);
  width: 400px;
  padding-top: 10px;
  margin-top: 10px;

  .progress {
    margin-top: 8px;
    border: solid 1px darken(#FFF8DC, 15%);
    border-radius: 3px;
    -moz-border-radius: 3px;
    .bar {
      height: 10px;
      background: darken(#FFF8DC, 10%);
    }
  }
}