<div class="ui secondary pointing  menu">
<!--   <div class="ui simple dropdown item">
    More
    <i class="dropdown icon"></i>
    <div class="menu">
      <a class="item"><i class="edit icon"></i> Edit Profile</a>
      <a class="item"><i class="globe icon"></i> Choose Language</a>
      <a class="item"><i class="settings icon"></i> Account Settings</a>
    </div>
  </div>

  <a class="item">
    Messages
  </a>
  <a class="item">
    Friends
  </a>
 -->
  <div class="right item">
    <div class="ui icon input">
      <input type="text" placeholder="搜索...">
      <i class="search icon"></i>
    </div>
  </div>

</div>