<div class="ui top menu">
  <div class="item logo">
    <%= link_to backend_root_path do %>
      <%= image_tag 'logo.png' %>
    <% end %>
  </div>
  <div class="right menu">
    <% if current_user %>
      <div class="ui simple dropdown item">
        <%= current_user.name %>
        <i class="dropdown icon"></i>
        <div class="menu">
          <a class="item"><i class="edit icon"></i> 个人设置</a>
          <a class="item"><i class="edit icon"></i> 添加类目</a>
          <a class="item"><i class="edit icon"></i> 添加商品</a>
          <a class="item"><i class="edit icon"></i> 历史订单</a>
          <a class="item"><i class="edit icon"></i> 顾客列表</a>
          <%= link_to backend_sign_out_path, method: :delete, class: 'item' do %>
            <i class="sign out icon"></i> 退出登录
          <% end %>
        </div>
      </div>

      <%= link_to "类目列表", backend_categories_path, class: 'item' %>
      <%= link_to "商品列表", backend_products_path, class: 'item' %>
      <a class="item"><i class="edit icon"></i> 顾客列表</a>
    <% else %>
      <%#= link_to '注册', new_backend_user_path, class: "item #{'active' if params[:controller] == 'users' && params[:action] == 'new'}" %>
      <%= link_to '登录', backend_sign_in_path, class: "item #{'active' if params[:controller] == 'sessions' && params[:action] == 'new'}" %>
    <% end %>
  </div>
</div>
