<%= form_for [:backend, product], html: {class: 'ui form'} do |f| %>
  <h4 class="ui dividing header">商品类目</h4>
  <div class="field">
    <label>类目名称</label>
    <%= f.select :category_id, options_from_collection_for_select(Category.all, 'id', 'name', params[:category_id] || product.category_id), { include_blank: true }, class: "ui fluid dropdown" %>
  </div>

  <h4 class="ui dividing header">基本信息</h4>
  <div class="field <%= 'error' if product.errors[:title].present? %>">
    <label>商品标题<%= " (#{@product.errors.messages[:title][0]})" if product.errors[:title].present? %></label>
    <div class="field">
      <%= f.text_field :title %>
    </div>
  </div>

  <div class="fields">
    <div class="three wide field <%= 'error' if product.errors[:price].present? %>">
      <label>价格<%= " (#{@product.errors.messages[:price][0]})" if product.errors[:price].present? %></label>
      <div class="field">
        <%= f.text_field :price %>
      </div>
    </div>
    <div class="seven wide field">
      <label>供应商</label>
      <div class="field">
        <%= f.text_field :vendor %>
      </div>
    </div>
    <div class="two wide field">
      <label>库存数量</label>
      <div class="field">
        <%= f.text_field :stock_qty %>
      </div>
    </div>
  </div>

  <div class="inline field inline-checkboxes">
    <div class="ui slider checkbox">
      <%= f.check_box :status %>
      <label>是否在售?</label>
    </div>
    <div class="ui slider checkbox">
      <%= f.check_box :new_arrival %>
      <label>新品上市?</label>
    </div>
    <div class="ui slider checkbox">
      <%= f.check_box :hot_sale %>
      <label>是否热销款?</label>
    </div>
  </div>

  <div class="twelve wide field">
    <div class="ui fluid multiple search selection dropdown">
      <%= select_tag "product[tag_list]", options_for_select(product.tag_list, product.tag_list), multiple: true  %>
      <div class="default text">请输入该商品的一些标签</div>
    </div>
  </div>

  <h4 class="ui dividing header">详细信息</h4>
  <div class="field">
    <label>描述主体</label>
    <div class="field">
      <%= f.text_area :body_html, class: 'trumbowyg-box' %>
    </div>
  </div>
  <%= f.submit "提交", class: "ui yellow button", disable_with: "提交中..." %>
<% end %>