<div class="ui container" style="margin-top: 10px;">
  <div class="ui segments">
    <div class="ui clearing segment">
      <div class="ui large breadcrumb">
        <%= link_to 'Home', backend_root_path, class: 'section' %>
        <i class="right angle icon divider"></i>
        <div class="active section">编辑 SPU</div>
      </div>
      <div class="ui right floated image">
        <%= link_to backend_product_product_images_path(@product) do %>
          图片管理<i class="right angle icon divider"></i>
        <% end %>
      </div>
    </div>
    <div class="ui segment">
      <%= render 'form', product: @product %>
    </div>
  </div>
</div>
