<div class="ui container">
  <div class="ui clearing segment">
    <h2 class="ui left floated header">
      <i class="table icon"></i> 所有商品(SPU)
    </h2>
    <h4 class="ui right floated header">
      <%= link_to new_backend_product_path, class: 'ui yellow header' do %>
        <i class="plus icon"></i> 创建新商品
      <% end %>
    </h4>
  </div>
  <table class="ui yellow table">
    <thead>
      <tr>
        <th>ID</th>
        <th>名称</th>
        <th>Slug</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |product| %>
        <tr>
          <td><%= product.id %></td>
          <td><%= link_to product.title, backend_product_path(product) %></td>
          <td><%= product.slug %></td>
          <td>
            <div class="ui bulleted link list">
              <%= link_to edit_backend_product_path(product), class: 'item' do  %>
                <i class="edit icon"></i> 编辑
              <% end %>
              <%= link_to backend_product_variants_path(product_id: product.id), class: 'item' do  %>
                <i class="cubes icon"></i> 添加 SKU
              <% end %>
              <%= link_to backend_product_path(product), method: :delete, data: {confirm: '确定删除? 不可恢复!'}, class: 'item' do  %>
                <i class="minus icon"></i> 删除该商品
              <% end %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
