<div class="ui container new_spu">
  <div class="ui large breadcrumb">
    <%= link_to 'Home', backend_root_path, class: 'section' %>
    <i class="right angle icon divider"></i>
    <div class="active section">新建 SPU</div>
  </div>

  <div class="ui two steps">
    <div class="active step">
      <i class="circle thin icon"></i>
      <div class="content">
        <div class="title">SPU INFO</div>
      </div>
    </div>
    <div class="disabled step">
      <i class="transgender icon"></i>
      <div class="content">
        <div class="title">SKU INFO</div>
      </div>
    </div>
  </div>

  <div class="ui segments">
    <div class="ui segment spu_form_box clearing">
      <%= render 'form', product: @product %>
    </div>
  </div>
</div>
