<div class="ui container" id="show_spu">
  <div class="ui large breadcrumb">
    <%= link_to 'Home', backend_root_path, class: 'section' %>
    <i class="right angle icon divider"></i>
    <div class="active section"><%= @product.title %></div>
  </div>

  <div class="ui clearing segment">
    <h2 class="ui header">
      <i class="cube icon"></i> <%= @product.title %>
    </h2>

    <div class="ui horizontal divided list right floated" style="margin-top: 0;">
      <div class="item">
        <div class="content">
          <div class="header">
            <%= link_to edit_backend_product_path(@product) do %>
              <i class="edit icon"></i>编辑当前 SPU
            <% end %>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="content">
          <div class="header">
            <%= link_to backend_product_options_path(@product) do %>
                <i class="options icon"></i>编辑商品选项
            <% end %>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="content">
          <div class="header">
            <%= link_to backend_product_variants_path(@product) do %>
                <i class="cubes icon"></i>SKU 列表
            <% end %>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="content">
          <div class="header">
            <%= link_to backend_product_path(@product), method: :delete, data: {confirm: "确定删除?"} do %>
                <i class="red remove circle icon"></i>删除 SPU
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="">
    <table class="ui very basic collapsing celled table">
      <thead>
        <tr>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>类目</td>
          <td><%= @product.category_name %></td>
        </tr>
        <tr>
          <td>状态</td>
          <td><%= Product::STATUS.fetch(@product.status) %></td>
        </tr>
        <tr>
          <td>价格</td>
          <td><%= @product.price %></td>
        </tr>
        <tr>
          <td>库存</td>
          <td><%= @product.stock_qty %></td>
        </tr>
        <tr>
          <td>供应商</td>
          <td><%= @product.vendor %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
