<%= form_for [:backend, @category || Category.new], html: {class: 'ui large form'} do |f| %>
  <div class="ui stacked segment">
    <%= f.hidden_field :parent_id, value: @category.try(:parent_id) || params[:parent_id] %>

    <div class="field">
      <%= f.label :"名称" %>
      <%= f.text_field :name %>
    </div>

    <% if params[:action] != 'edit' %>
      <div class="field">
        <%= f.label :slug %>
        <%= f.text_field :slug %>
      </div>
    <% end %>
    <%= f.submit "提交", class: "ui fluid large yellow submit button" %>
  </div>
<% end %>