<div class="ui container">
  <div class="ui clearing segment">
    <h2 class="ui left floated header">
      <i class="table icon"></i> 所有一级分类
    </h2>
    <h4 class="ui right floated header">
      <%= link_to new_backend_category_path, class: 'ui yellow header' do %>
        <i class="plus icon"></i> 创建新分类
      <% end %>
    </h4>
  </div>
  <table class="ui yellow table">
    <thead>
      <tr>
        <th>ID</th>
        <th>名称</th>
        <th>Slug</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @categories.each do |category| %>
        <tr>
          <td><%= category.id %></td>
          <td><%= category.name %></td>
          <td><%= category.slug %></td>
          <td>
            <div class="ui bulleted link list">
              <%= link_to edit_backend_category_path(category), class: 'item' do  %>
                <i class="edit icon"></i> 编辑此分类
              <% end %>
              <%= link_to new_backend_category_path(parent_id: category.id), class: 'item' do  %>
                <i class="plus icon"></i> 添加子分类
              <% end %>
              <%= link_to new_backend_product_path(category_id: category.id), class: 'item' do  %>
                <i class="plus icon"></i> 添加商品
              <% end %>
              <%= link_to backend_category_path(category), method: :delete, data: {confirm: '确定删除? 不可恢复!'}, class: 'item' do  %>
                <i class="minus icon"></i> 删除该类目
              <% end %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
