<div class="ui middle bg-cornsilk center aligned grid">
  <div class="column" style="width: 35%">
    <h2 class="ui yellow image header">
      <div class="content">
        新建分类
      </div>
    </h2>

    <%= render 'form' %>
  </div>
</div>