<div class="ui text container">
  <div class="ui segment" style="width: 70%;margin: auto">
    <h2 class="ui yellow image header">
      <div class="content">
        修改密码
      </div>
    </h2>

    <%= form_tag frontend_customer_path(current_customer), method: :patch, class: 'ui form' do %>
      <div class="field">
        <label>旧密码</label>
        <%= password_field_tag 'customer[old_password]', '', autocomplete: "off" %>
      </div>
      <div class="field">
        <label>新密码</label>
        <%= password_field_tag 'customer[password]', '', autocomplete: "off" %>
      </div>
      <div class="field">
        <label>确认新密码</label>
        <%= password_field_tag 'customer[password_confirmation]', '', autocomplete: "off" %>
      </div>

      <%= submit_tag "确定", class: "ui fluid large yellow submit button" %>
    <% end %>
  </div>
</div>
