<div class="ui middle bg-cornsilk center aligned grid">
  <div class="column" style="width: 35%">
    <h2 class="ui yellow image header">
      <div class="content">
        注册成为新用户
      </div>
    </h2>

    <%= form_for [:frontend, @customer], html: {class: 'ui large form'} do |f| %>
      <div class="ui stacked segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <%= f.text_field :name, placeholder: '用户名' %>
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="mail icon"></i>
            <%= f.text_field :email, placeholder: '邮箱' %>
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <%= f.password_field :password, autocomplete: "off", placeholder: '密码' %>
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: '确认密码' %>
          </div>
        </div>
        <%= f.submit "完成注册", class: "ui fluid large yellow submit button" %>
      </div>
    <% end %>

    <div class="ui message">
      已有帐户? <%= link_to '请点击登录', frontend_sign_in_path, class: '' %>
    </div>
  </div>
</div>