//override semantic-ui top menu
.ui.top.menu {
  margin: 0 0 1rem 0em;

  .item.logo {
    padding: 2px;

    img {
      height: 60px;
      margin-left: 130px;
    }
  }
}

.ui.secondary.pointing.menu {
  .search_form {
    width: 300px;
    margin-right: 50px;
  }

  .right.menu {
    margin-right: 30px;
  }

  .search_btn {
    background: transparent;
    border:1px solid rgba(34, 36, 38, 0.15);
    border-left:none;
    margin-left:-1px;
  }
}
