// //
// // COLOR VARIABLES
// //
// // - Cool
// // - Warm
// // - Gray Scale
// //

// // Cool

// $aqua: #7FDBFF;
// $blue: #0074D9;
// $navy: #001F3F;
// $teal: #39CCCC;
// $green: #2ECC40;
// $olive: #3D9970;
// $lime: #01FF70;

// // Warm

// $salmon: #f07057;
// $yellow: #FFDC00 !important;
// $orange: lighten(#FF851B, 32%) !important;;
// $red: #FF4136;
// $fuchsia: #F012BE;
// $purple: #B10DC9;
// $maroon: #85144B;
$cornsilk: lighten(#FFF8DC, 5.5%) !important;
$my-blue: #5bb5ff;

// $firebrick: #ff2462;

// // Gray Scale

// $white: #fff;
// $silver: #ddd;
// $gray: #aaa;
// $black: #111;



// /*

//    SKINS
//    • Backgrounds
//    • Colors

// */

// /* Backgrounds */

// .bg-navy {
//   background-color: $navy;
// }

// .bg-blue {
//   background-color: $blue;
// }

// .bg-aqua {
//   background-color: $aqua;
// }

// .bg-teal {
//   background-color: $teal;
// }

// .bg-olive {
//   background-color: $olive;
// }

// .bg-green {
//   background-color: $green;
// }

// .bg-lime {
//   background-color: $lime;
// }

// .bg-yellow {
//   background-color: $yellow;
// }

// .bg-orange {
//   background-color: $orange;
// }

// .bg-red {
//   background-color: $red;
// }

// .bg-fuchsia {
//   background-color: $fuchsia;
// }

// .bg-purple {
//   background-color: $purple;
// }

// .bg-maroon {
//   background-color: $maroon;
// }

// .bg-white {
//   background-color: $white;
// }

// .bg-gray {
//   background-color: $gray;
// }

// .bg-silver {
//   background-color: $silver;
// }

// .bg-black {
//   background-color: $black;
// }

// .bg-firebrick {
//   background-color: $firebrick;
// }

// .bg-salmon {
//   background-color: $salmon;
// }

.bg-cornsilk {
  background-color: $cornsilk;
}

.my-blue {
  color: $my-blue !important;
}

// /* Colors */

// .navy {
//   color: $navy;
// }

// .blue {
//   color: $blue;
// }

// .aqua {
//   color: $aqua;
// }

// .teal {
//   color: $teal;
// }

// .olive {
//   color: $olive;
// }

// .green {
//   color: $green;
// }

// .lime {
//   color: $lime;
// }

// .yellow {
//   color: $yellow;
// }

// .orange {
//   color: $orange;
// }

// .red {
//   color: $red;
// }

// .fuchsia {
//   color: $fuchsia;
// }

// .purple {
//   color: $purple;
// }

// .maroon {
//   color: $maroon;
// }

// .white {
//   color: $white;
// }

// .silver {
//   color: $silver;
// }

// .gray {
//   color: $gray;
// }

// .black {
//   color: $black;
// }

// .firebrick {
//   color: $firebrick;
// }

// .salmon {
//   color: $salmon;
// }

// .cornsilk {
//   color: $cornsilk;
// }
