<div class="ui yellow vertical footer segment">
  <div class="ui center aligned container">
    <div class="ui stackable grid">
      <div class="three wide column">
        <h4 class="ui header">纯色系</h4>
        <div class="ui link list">
          <a class="item" href="#" target="_blank">关于我们</a>
          <a class="item" href="#" target="_blank">来信联系</a>
          <a class="item" href="#" target="_blank">诚聘英才</a>
          <a class="item" href="#" target="_blank">免责声明</a>
          <a class="item" href="#" target="_blank">法律声明</a>
          <a class="item" href="#" target="_blank">网站地图</a>
          <a class="item" href="#" target="_blank">FAQs</a>
        </div>
      </div>
      <div class="five wide column">
        <h4 class="ui header">合作伙伴</h4>
        <div class="ui link list">
          <a class="item" href="#" target="_blank">支付宝</a>
          <a class="item" href="#">微信支付</a>
          <a class="item" href="#">淘宝</a>
          <a class="item" href="#">Github</a>
        </div>
      </div>
      <div class="seven wide left floated column">
        <h4 class="ui yellow header">坐标</h4>
        <p> 广东省广州市番禺区</p>
        <h4 class="ui yellow header">技术支持</h4>
        <p>Ruby on Rails | Javascript | Elasticsearch | Redis | PostgreSQL | Semantic-UI</p>
      </div>
    </div>
    <div class="ui section divider"></div>
    <%= image_tag 'logo.png', class: "ui centered small image" %>
  </div>
</div>