<div class="item">
  <div class="header"><%= category.name %></div>
  <div class="menu">
    <% category.top_5_tags.each do |tag| %>
      <%= link_to "#{tag.name} (#{category.tag_products_count_map[tag.id.to_s].to_i})", tag_frontend_category_path(tag_id: tag.id, slug: category.slug), class: 'item' %>
    <% end %>
  </div>
</div>