<% if notice %>
  <div class="ui yellow message">
    <div class="ui center aligned header">
      操作提示:
    </div>
    <ul class="list">
      <% notice.split(' 。').uniq.each do |sentence| %>
        <li><%= sentence %>.</li>
      <% end %>
    </ul>
  </div>
<% end %>
<% if alert %>
  <div class="ui yellow message">
    <div class="ui center aligned header">
      <%= alert %>
    </div>
  </div>
<% end %>
