<div class="ui secondary pointing menu">
  <div class="right menu">
    <%= form_tag frontend_search_index_path, method: :get, class: 'search_form item' do %>
      <div class="ui action input">
        <%= text_field_tag :q, params[:q], placeholder: '搜索' %>
        <%= button_tag type: 'submit', class: 'ui icon button search_btn' do  %>
          <i class="search icon"></i>
        <% end %>
      </div>
    <% end %>
    <%= link_to '新品', new_arrival_frontend_products_path, class: "#{active_page(new_arrival_frontend_products_path)} item" %>
    <%= link_to '爆款', hot_sales_frontend_products_path, class: "#{active_page(hot_sales_frontend_products_path)} item" %>
    <% @categories.each do |category| %>
      <%= link_to category.name, frontend_category_path(slug: category.slug), class: "#{active_page(frontend_category_path(slug: category.slug))} item" %>
    <% end %>
  </div>

</div>