<div class="ui top menu" id="top_menu">
  <div class="item logo">
    <%= link_to root_path do %>
      <%= image_tag 'logo.png' %>
    <% end %>
  </div>
  <div class="right menu">
    <% if current_customer %>
      <div class="ui simple dropdown item" id="cart_dropdown">
        <%= link_to frontend_cart_path, class: 'item' do %>
          <i class="large shop icon" ></i> 我的购物车 <span class="cart_num floating ui yellow label"><%= current_customer ? current_customer.cart_items_count : 1 %></span>
        <% end %>
        <div class="menu">
          <div id="menu_cart_items_list">
            <%= render 'frontend/common/menu_cart_items_list' %>
          </div>
          <div class="divider"></div>
          <%= link_to frontend_cart_path, class: 'item checkout_link' do %>
            去购物车结算 <i class="chevron right icon"></i>
          <% end %>
        </div>
      </div>
    <% end %>
    <div class="item">
      <% wish_target = current_customer ? frontend_my_wish_list_path : frontend_sign_in_path(prev_location: frontend_my_wish_list_path) %>
      <%= link_to wish_target, class: 'item' do %>
        <i class="large star icon" ></i> 我的收藏夹 <span class="wish_count floating ui yellow label"><%= current_customer ? current_customer.wish_list_items_count : 1 %></span>
      <% end %>
    </div>
    <% if current_customer %>
      <div class="ui simple dropdown item">
        <%= current_customer.name %>
        <i class="dropdown icon"></i>
        <div class="menu">
          <%= link_to frontend_settings_path, class: 'item' do %>
            <i class="settings icon"></i> 个人设置
          <% end %>
          <%= link_to frontend_addresses_path, class: 'item' do %>
            <i class="street view icon"></i> 收货地址
          <% end %>
          <a class="item"><i class="database icon"></i> 订单历史</a>
          <%= link_to frontend_sign_out_path, method: :delete, class: 'item' do %>
            <i class="sign out icon"></i> 退出登录
          <% end %>
        </div>
      </div>
    <% else %>
      <%= link_to '注册', new_frontend_customer_path, class: "#{active_page(new_frontend_customer_path)} item"  %>
      <%= link_to '登录', frontend_sign_in_path, class: "#{active_page(frontend_sign_in_path)} item" %>
    <% end %>
  </div>
</div>
