<!DOCTYPE html>
<html>
  <head>
    <title>纯色系 | 更简单的衣服色彩搭配</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'backend', media: 'all' %>
    <%= javascript_include_tag 'backend' %>
  </head>

  <body>
    <%= render 'backend/common/top_menu' %>
    <%= render 'backend/common/secondary_menu' %>
    <%= render 'backend/common/notice' %>
    <%= yield %>
  </body>
</html>
