<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <title>纯色系 | 更简单的衣服色彩搭配</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'frontend_phone', media: 'all'%>
    <%= javascript_include_tag 'frontend_phone' %>
  </head>

  <body>
    <%= render 'frontend/common/phone/sidebar_nav' %>
    <%= render 'frontend/common/phone/top_fixed_menu' unless @no_top_menu  %>
    <div class="pusher">
      <%= render 'frontend/common/phone/top_search_box' unless @no_top_search %>
      <%= render 'frontend/common/phone/notice' %>
      <%= yield %>
      <%= render 'frontend/common/phone/footer' unless @no_footer %>
    </div>
    <%= render 'frontend/common/phone/bottom_menu' if @display_bottom_menu  %>
  </body>
</html>
