<!DOCTYPE html>
<html>
  <head>
    <title>纯色系 | 更简单的衣服色彩搭配</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'frontend_desktop', media: 'all'%>
    <%= javascript_include_tag 'frontend_desktop' %>
  </head>

  <body>
    <%= render 'frontend/common/top_menu' %>
    <%= render 'frontend/common/secondary_menu' %>
    <%= render 'frontend/common/notice' %>
    <%= yield %>
    <%= render 'frontend/common/footer' %>
  </body>
</html>
